<div class="row">
    <div class="col-md-12">
        <div class="col-md-3"> </div>
        <div class="col-md-7">
            <h1>ADMINSKA stranica <h1></div>
        <div class="col-md-2">
            <div  id="adminback" class="btn-group"  role="group">  
            <button ng-click="vm.nazadnapocetnu()" type="button" role="group" class="btn btn-info">Pocetna</button> 
           </div>
        </div>
    </div>
</div>
        <br>
      
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group"  role="group">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Proizvodi
        <span class="caret"></span>
    </button>
    
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >    
        <li ng-repeat="type in vm.distincttype" ng-click="vm.getDistinctType(type.vrsta)"><a>{{type.vrsta}}</a></li> 
            </ul>
        </div>
    
        <div class="btn-group" role="group">
            <button type="button" role="group" class="btn btn-warning" ng-click="vm.getAllUsers()" >Korisnici</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" role="group" class="btn btn-warning" ng-click="vm.getDateAndTime()">Korpa</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" role="group" class="btn btn-warning" ng-click="vm.openCommentsForProduct()">Komentari</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" role="group" class="btn btn-warning" ng-click="vm.getAllContact()">Kontakt</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" role="group" class="btn btn-warning" ng-click="vm.logout()">Odjavi se</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <form role="form1" name="form1" ng-show="vm.prikazidugmice">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <input type="submit" value="DODAJ" class="btn btn-info" ng-click="vm.dodajDugme(vm.dodajartikal)">
                </input>
            </div>

            <div class="btn-group" role="group">
                <input type="submit" value="IZMENI" class="btn btn-info" ng-click="vm.listaSvihArtikala(vm.listaproizvoda)">
                </input>
            </div>
        </div>
        </form>

    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3"> </div>
        <div class="col-md-7">

            <form role="form1" name="form1" ng-if="vm.formizmeni">
                <table>
                    <h1>{{vm.ime}} </h1>
            <tr ng-repeat="item in vm.items">
                <th>{{item.proizvodjac}}</th>
                <th>{{item.model}}</th>
                <th>{{item.cena}}</th>
                <th><img ng-src="{{item.slika}}" width="80" height="80"></img>
                </th>

                <th>
                    <button ng-click="vm.izmeniartikal(item.id)" class="btn btn-danger btn-md">izmeni</button>
                </th>

            </tr>
            </table>

            </form>
        </div>

    </div>
</div>


<form role="form" name="form" ng-show="vm.prikazisveinpute">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"> </div>

            <div class="col-md-7">


                <div>
                    <h1>{{vm.ime}} </h1></div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="vrsta" ng-model="proizvodi.vrsta" required>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="proizvodjac" aria-describedby="basic-addon1" ng-model="proizvodi.proizvodjac" required>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="model" aria-describedby="basic-addon1" ng-model="proizvodi.model" required>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="cena" aria-describedby="basic-addon1" ng-model="proizvodi.cena" required>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="garancija" aria-describedby="basic-addon1" ng-model="proizvodi.garancija" required>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="slika" aria-describedby="basic-addon1" ng-model="proizvodi.slika" required>
                </div>


                <div class="input-group"> <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="akcija" aria-describedby="basic-addon1" ng-model="proizvodi.akcija" required>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="tip" aria-describedby="basic-addon1" ng-model="proizvodi.tip">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="kapacitet" aria-describedby="basic-addon1" ng-model="proizvodi.kapacitet">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="socket" aria-describedby="basic-addon1" ng-model="proizvodi.socket">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="dijagonala" aria-describedby="basic-addon1" ng-model="proizvodi.dijagonala">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"> 
  <span class="glyphicon glyphicon-ok" id="basic-addon1"></span> </span>
                    <input type="text" class="form-control" placeholder="takt" aria-describedby="basic-addon1" ng-model="proizvodi.takt">
                </div>
                <br>
                <div>
                    <input type="submit" value="Dodaj u bazu" class="btn btn-primary" ng-click="vm.adminInsertItem(proizvodi)">
                    </input>
                    <p> {{vm.porukaadmin}}
                    </p>
                </div>

            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <form role="form1" name="form1" ng-show="vm.prikazikontakt">
            <table>

                <div class="row">
                    <div class="col-md-2"> </div>
                    <div class="col-md-8">
                        <h1>Poruke: </h1>
                    </div>
                </div>
                <br>
                <tr ng-repeat="cont in vm.contact">
                    <th>{{cont.ime}} </th>
                    <th>{{cont.email}} </th>
                    <th>{{cont.poruka}} </th>
                    <th>
                        <button ng-click="vm.deleteContact(cont.id)" class="btn btn-danger btn-md">izbrisi</button>
                    </th>
                </tr>

            </table>
            <p>
                {{vm.poruka}}
            </p>

        </form>

    </div>
</div>


<form role="form1" name="form1" ng-show="vm.prikaziporudzbine">
    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <h1>Porudzbine: </h1>
                </tr>
            </table>
            <br>
            <table>
                <tr ng-repeat="date in vm.dateAndTime">
                    <th>{{date.vreme}}
                        <button ng-click="vm.openOrder(date.id)" class="btn btn-danger btn-md">otvori</button>
                    </th>

                </tr>
            </table>
            <br>

        </div>

    </div>
</form>

<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <form role="form1" name="form1" ng-show="vm.prikazikorisnike">
            <table class="table table-hover">

                <div class="row">
                    <div class="col-md-2"> </div>
                    <div class="col-md-8">
                        <h1>Registrovani Korisnici: </h1>
                    </div>
                </div>
                <br>

                <tr ng-repeat="user in vm.allUsers">
                    <th>{{user.id}} </th>
                    <th>{{user.ime}} </th>
                    <th>{{user.prezime}} </th>
                    <th>{{user.email}} </th>
                    <th>{{user.pass}} </th>
                    <th>
                        <button ng-click="vm.deleteUser(user.id)" class="btn btn-danger btn-md">izbrisi</button>
                    </th>
                </tr>
                <tr>
                    <th>{{ vm.msg}} </th>
                </tr>

            </table>

        </form>

    </div>
</div>

<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <form role="form1" name="form1" ng-show="vm.prikazikomentare">
            <div class="row">
                <div class="col-md-2"> </div>
                <div class="col-md-8">
                    <h1>Komentarisani artikli: </h1>
                </div>
            </div>
            <br>
            <br>
            <table>
                <tr>
                    <th>IdProizvoda </th>
                    <th>Vrsta </th>
                    <th>Model </th>
                    <th>Broj komentara </th>
                    <th>
                        <th>
                            <th>
                                <th>


                </tr>
            </table>
            <hr>
            <table class="table table-hover">
                <tr ng-repeat="comment in vm.distinctcomments">
                    <th>{{comment.id_proizvoda}} </th>
                    <th>{{comment.vrsta}} </th>
                    <th>{{comment.model}} </th>
                    <th>({{comment.count}}) </th>
                    <th>
                        <button ng-click="vm.openComments(comment.id_proizvoda)" class="btn btn-info btn-md">otvori</button>
                    </th>
                    <th>
                        <button ng-click="vm.deleteAllComments(comment.id_proizvoda)" class="btn btn-danger btn-md">izbrisi</button>
                    </th>
                </tr>

            </table>
            <br>
            <table>
                <tr>
                    {{ vm.msg}}
                    <tr>
            </table>

        </form>

    </div>
</div>