<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="search" placeholder="Pretraga artikala" data-ng-model="search" /> </div>
    </div>
</div>
<br>
<br>
<br>
<div class="col-md-12">
    <table class="table table-nonfluid table table-striped table-hover" align="center">
        <tbody>

            <tr>
                <th>PROIZVODJAC</th>
                <th>MODEL</th>
                <th>CENA</th>
                <th>SLIKA</th>
                <td>LINK</td>
            </tr>

            <tr ng-repeat="item in vm.items | filter:search" ng-if="key != 'akcija'">

                <th>{{item.proizvodjac}}</th>
                <th>{{item.model}}</th>
                <th>{{item.cena}}</th>
                <td><img ng-src="{{item.slika}}" width="60" height="60"></img>
                </td>

                <th>
                    <button ng-click="vm.Detail(item)" class="btn btn-danger btn-md">detaljnije</button>
                </th>

            </tr>


        </tbody>
    </table>
    <div id="listbutton">
        <button class="btn btn-primary " ng-click="vm.back() "> Nazad </button>
    </div>
</div>